.chrome-extension-wi-active .chrome-extension-wi-element {
	cursor: -webkit-zoom-in !important;
}

.chrome-extension-wi-active .chrome-extension-wi-element:hover {
	background-color: #F8F8F8;
}

.chrome-extension-wi-content_box {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-size : 13px;
	line-height: 1.5em;
	text-align: left;
	min-width: 350px;
	top: 0;
	left: 0;
	position: absolute;
	padding: 0;
	margin: 0;
	border: 10px solid #EEE;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 1);
	background: transparent;
	z-index: 10000;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box {
	width: 100%;
	padding: 0;
	padding-top: 5px;
	margin: 0;
	background: #EEE;
	color: #000;
	border-top: 3px solid #E8E8E8;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field {
	padding: 0;
	margin: 0;
	border: 0;
	color: inherit;
	display: block;
	background: transparent;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > label, 
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > span,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a {
	color: inherit;
	background: transparent;
	display: inline;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > label {
	font-weight: bold;
	margin-right: 5px;
	display: inline;

}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:link,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:visited,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:active,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:hover {
	word-break: break-all;
	outline: none;
	color: #0B64C0;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:link,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:visited,
.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:active {
	text-decoration: none;
}

.chrome-extension-wi-content_box > .chrome-extension-wi-data_box > form > .chrome-extension-wi-data_field > a:hover {
	text-decoration: underline;
	cursor: pointer;
}